body{
    margin: 0%;
}

a{
    text-decoration: none;
    color: #ffffff;
}

li a{
    color: #ffffff;
}

.container{
    position: relative;
    box-sizing: border-box;
}

#section1{
    background-color: #131da7;
    width: 100%;
    height: 8em;
    margin-top: 1%;
    box-sizing: border-box;
    border-bottom: 5px solid #f87f2e;
}


.logo{
    margin: 0%;
    padding-left: 5%;
    padding-top: 3%;
    color:#ffffff;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.logo2{
    margin: 0%;
    padding-left: 11.5%;
    color: #e97a12;
    font-size: 11px;
    font-family: monospace;
    font-style: italic;
}

#section2{
    background-color: #131da7;
    width: 100%;
    height: 8em;
    position: relative;
    box-sizing: border-box;
}

.sublin{
    display: flex;
  
}

.sublin a{
    color: #ffffff;
}

#section2 h4{
    margin: 0%;
    padding-top: 3%;
    padding-left: 5%;
    font-family: Arial;
    color: #ffffff;
    width: 20%;
}

#section2 .link2{
    color: white;
    padding-left: 45em;
    margin: 0%;
    padding-top: 1%;
    font-family: Arial;
}

li .lispan{
position: absolute;
left: 17.3%;
font-weight: lighter;
transform: rotate(180deg);
}

li .lispan2{
    position: absolute;
left: 25.5%;
font-weight: lighter;
transform: rotate(180deg);
}

li .lispan3{
position: absolute;
left: 36.6%;
font-weight: lighter;
transform: rotate(180deg);
}

.list-wrap{
    margin: 0%;
    margin-left: 5%;
    list-style: none;
    display: flex;
}

.list-wrap>li{
  padding-top: 2%;
  margin-right: 3%;
  color: #ffffff;
  font-family: tahoma;
  font-weight: bold;
  font-size: 14px;
}

.main-section{
    display: flex;
  
}

.main-section .box1{
    height: 35em;
    width: 55em;
    border:3px solid #eb2308;
    border-radius: 1%;
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 7%
}

#sub-section3{
display: grid;
grid-template-columns: repeat(4,1fr);
grid-auto-rows: 30em;
grid-gap: 2%;
width: 100%;
height: 30%;
margin-top: 3%;
}

 .boxbox1{
margin: 0%;
height: 30%;
border-radius: 6%;
margin-left: 10%;
box-shadow: 1px 3px 8px 4px #e7efff;
background-color: #eb2308;
}

.boxbox1 h3{
    font-family: Arial;
    padding-left: 5em;
    padding-top: 2em;
    margin: 0%;
}

.boxbox2{
    height: 30%;
    border-radius: 6%;
    box-shadow: 1px 3px 8px 4px #e7efff;
    background-color: #ebd93b;
}

.boxbox2 h3{
    font-family: Arial;
    padding-left: 2em;
    padding-top: 2em;
    margin: 0%;
}

.boxbox3{
    height: 30%;
    border-radius: 6%;
    box-shadow: 1px 3px 8px 4px #e7efff;
    background-color: #083deb;
}

.boxbox3 h3{
    font-family: Arial;
    padding-left: 7em;
    padding-top: 2em;
    margin: 0%;
}

.boxbox4{
    height: 30%;
    border-radius: 6%;
    margin-right: 10%;
    box-shadow: 1px 3px 8px 4px #e7efff;
    background-color: #2eb1b1;
}

.boxbox4 h3{
    font-family: Arial;
    padding-left: 3.2em;
    padding-top: 2em;
    margin: 0%;
}

.boxbox4 h3 span{
    padding-left: 3.2em;
}

.title-overview{
    margin: 0%;
    padding-top: 3%;
    padding-left: 3%;
    font-weight: lighter;
    font-family: Arial;
}

#sub-section2{
width: 100%;
height: 25%;
background-color: #083deb;
margin-top: 18%;
box-sizing: border-box;
}

#sub-section2 ul{
    margin: 0%;
    list-style: none;
    display: flex;
}

#sub-section2 ul li{
    padding-top: 3%;
    margin-right: 6%;
    color: #ffffff;
    font-family: Arial;
}

#sub-section2 .logout{
    margin: 0%;
    color: #e7efff;
    padding-top: 7%;
    padding-left: 4%;
    font-family: Arial;
}

.main-section .box2{
    height: 52em;
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: 1%;
}

.main-section .box2 .div1{
    width: 100%;
    height: 65vh;
    color: #222324;
    box-sizing: border;
    box-shadow: 2px 1px 4px 1px #f8ebe2;
}

#image1{
   width: 100%;
   height: 25vh; 
}


.main-section .box2 .div1 h1{
    margin: 0%;
    padding-top: 15%;
    padding-left: 5%;
    font-family: Arial;
}

.main-section .box2 .div1 h6{
    margin: 0%;
    padding-top: 5%;
    padding-left: 5%;
    font-family: Arial;
}

.main-section .box2 .div1 p{
    padding-left: 5%;
}

.main-section .box2 .div2{
    height: 19vh;
    width: 100%;
    color: #222324;
    margin-top: 3%;
    box-shadow: 2px 1px 4px 1px #f8ebe2;
    position: relative;
    box-sizing: border-box;
    /* background-color: #2eb1b1; */
}

.image2{
    margin-top: 6%;
    height: 15vh;
}

.divwrap h4{
    margin: 0%;
   margin-top: 15%;
    margin-left: 3%;
}

.main-section .box2 .div2 h6{
    margin: 0%;
    position:absolute;
    left: 45%;
    bottom: 6%;
     
} 

.divwrap{
    display: flex;
}

.main-section .box2 .div3{
    height: 19vh;
    width: 100%;
    color: #222324;
    position: relative;
    box-shadow: 2px 1px 4px 1px #f8ebe2;
    margin-top: 3%;
    position: relative;
    box-sizing: border-box;
}

.image3{
    margin: 0%;
    position: absolute;
    top: 20%;
}

.main-section .box2 .div3 h4{
    margin: 0%;
    position: absolute;
    top: 39%;
    left: 45%;
}

.main-section .box2 .div3 h6{
    margin: 0%;
    position: absolute;
    top: 10em;
    left: 45%;
}

.main-section .box2 .div4{
    height: 19vh;
    width: 100%;
    color: #222324;
    margin-top: 3%;
    position: relative;
    box-shadow: 2px 1px 4px 1px #f8ebe2;
    box-sizing: border-box;
}

.image4{
    margin: 0%;
    position: absolute;
    top: 6%;
}

.main-section .box2 .div4 h4{
    margin: 0%;
    position: absolute;
    top: 30%;
    left: 45%;
}
.main-section .box2 .div4 h6{
    margin: 0%;
    position: absolute;
    top: 10em;
    left: 6%;
}

#footer{
    height: 8em;
    width: 100%;
    background-color: #222324;
    margin: 0%;
    margin-bottom: 0%;
    position: relative;
}

#footer h4{
    margin: 0%;
    position: absolute;
    top: 8%;
    left: 10%;
    color: #ffffff;
    font-family: Arial;
}

span a{
    text-decoration: underline;
    color: #e7efff
}